//META{"name":"MY_TWEAK","description":"My changes to Discord","author":"Buddy","version":"1.0"}*//{}
/* "Discord Material Icons v1.7" by @Zerthox */


#TitleforTitlebar {
    top:0px;
    left: 225px;
    font-family: Whitney, "helvetica Neue", "Helvetica";
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: 22px;
    color: grey;
}

.sidebar-region-scroller,
.sidebar-region,
.sidebar {
    background-color: #282e33;
    
}
.appMount-3VJmYg.bda-dark.bd-detached-editor .app-19_DXt.platform-win .app.flex-vertical.theme-dark .layers-3iHuyZ.flex-vertical.flex-spacer .layer-3QrUeG .ui-standard-sidebar-view .sidebar-region .scrollerWrap-2lJEkd.scrollerThemed-2oenus.themeGhostHairline-DBD-2d.scrollerFade-1Ijw5y .scroller-2FKFPG.sidebar-region-scroller .sidebar .side-8zPYf6 .separator-gCa7yv.marginTop8-1DLZ1n.marginBottom8-AtZOdT
.sidebar-region .sidebar {
  display: flex;
  height: 100%;
  width: 100%;
  padding-left: 1em !important;
  padding-right: 1em !important;
}

/*.sidebar-region .sidebar > div {*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 0;*/
/*    right: 8px;*/
/*    bottom: auto;*/
/*    margin-bottom: 0 !important;*/
/*    padding-left: 0 !important;*/
/*    padding-top: 0 !important;*/
/*    padding-right: 0 !important;*/
/*    padding-bottom: 3em !important;*/
/*    background: blue;*/
/*    min-height: 100%;*/
/*    bottom: auto;*/
/*    height: auto !important;*/
/*    width: auto !important;*/
/*    margin-left: 1em !important;*/
/*    margin-top: 0 !important;*/
/*    margin-right: 0 !important;*/
/*}*/

.sidebar-region {
    max-width: 15em;
}

.sidebar-region .sidebar > div {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
}

.side-8zPYf6 .item-PXvHYJ {
  flex: none ;
  height: 32px;
  width: 100%;
}

.socialLinks-3jqNFy {
  display: flex;
    flex: 0 1 3em;
    height: 3em;
    text-align: center;
    flex-flow: row;
    min-height: 3em;
    border-top: 2px solid rgba(255, 255, 255, 0.1392157);
}

.socialLinks-3jqNFy > a {
    flex: 1 1 auto;
}


.socialLinks-3jqNFy>a:hover {
    filter: drop-shadow(0px 0px 3px var(--accent-color));
}

.appMount-3VJmYg.bda-dark.bd-detached-editor .app-19_DXt.platform-win .app.flex-vertical.theme-dark .layers-3iHuyZ.flex-vertical.flex-spacer .layer-3QrUeG .ui-standard-sidebar-view .content-region .scrollerWrap-2lJEkd.content-region-scroller-wrap.scrollerThemed-2oenus.themeGhost-10fio9.scrollerTrack-3hhmU0.scrollerWrap-2lJEkd.content-region-scroller-wrap.scrollerThemed-2oenus.themeGhost-28MSn0.scrollerTrack-1ZIpsv .scroller-2FKFPG.content-region-scroller.scroller.scroller-2FKFPG .content-column.default {
    position: absolute;
}


.bd-context-menu {
    height: auto !important;    
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.bd-detached-css-editor {
    z-index: 1000;
}


.ui-standard-sidebar-view .sidebar-region .sidebar {
    padding: 60px 15px 5px !important;
    height: 100%;
}

/*.side-8zPYf6 .item-PXvHYJ[style*="color: rgb(240, 71, 71);"],*/
/*.side-8zPYf6 .header-2RyJ0Y,*/
/*#bd-settings-sidebar {*/
/*    margin-top:5px;*/
/*    padding-top: 20px;*/
/*    border-top: 2px solid rgba(255, 255, 255, 0.1392157);*/
/*}*/

.side-8zPYf6 .header-2RyJ0Y:first-of-type {
    margin-top: 0;
    padding-top: 0;
    /*border-top: 0px solid transparent;*/
}

#bd-settings-sidebar .ui-tab-bar-separator,
.theme-dark .separator-gCa7yv,
.theme-dark .separator-gCa7yv,
.theme-dark .ui-form-divider,
.theme-dark .ui-tab-bar-separator {
    flex: auto;
}

#bd-settings-sidebar::after,
div.side-8zPYf6 > div.separator-gCa7yv:nth-of-type(5n),
div.side-8zPYf6 > div.separator-gCa7yv:nth-of-type(5n+6) {
    display: none;
    background: red !important;
}

.friends-table-header+.scroller-wrap {
    max-height:100%;
    transform: unset;
}

#friends .friends-table .friends-table-body {
    padding-top:0;
    margin-top:0;
}

#friends .friends-table .friends-table-header {
    display: none;
    display: block;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
}

#friends .friends-table {
    padding-top: 0;
}

.theme-dark #friends .headerBar-UHpsPw .tab-bar .tab-bar-item:not(.tab-bar-item-primary) {
    color: var(--white2) !important;
    height: 47px;
    line-height: 47px;
    box-sizing: border-box;
    border-radius: 0;
}

.theme-dark #friends .headerBar-UHpsPw .tab-bar .tab-bar-item:hover:not(.selected) {
    background: none !important;
    color: var(--white4) !important;
    border-bottom: 2px solid var(--white4) !important;
}

.theme-dark #friends .headerBar-UHpsPw .tab-bar .tab-bar-item.selected {
    background: none!important;
    color: var(--white10)!important;
    border-bottom: 2px solid var(--white10)!important;
}
/*.theme-dark .separator-gCa7yv:after,*/
/*.theme-dark .separator-gCa7yv:after,*/
/*.theme-dark .ui-form-divider:after,*/
/*.theme-dark .ui-tab-bar-separator:after {*/
/*    content:"";*/
/*    display: block;*/
/*    height:2px;*/
/*    background: rgba(255,255,255,.04)!important;*/
/*    min-height: 2px!important;*/
/*    position: relative;*/
/*    top: 50%;*/
/*}*/
.guilds-wrapper .guilds .friends-icon:hover {
    background-color: var(--accent-color);
    opacity: 1;
}

.private-channels,
.members-1998pB,
.textArea-2Spzkt {
    background: #282e33 !important;
}

.chat .messages,
 .messages-wrapper .messages .message-group:not(.has-divider){
    background-color: #1f4746 !important;
}

.comment {
    background-color: #13161a;
}

#bd-settings-sidebar {
    flex: auto;
    display: flex;
    flex-direction: column-reverse;
    min-height: 309px;
}

.theme-dark .separator-gCa7yv {
    background: transparent !important;
    position: relative;
    margin: 0;
}

.theme-dark .separator-gCa7yv:after {
    content: "";
    min-height: 0px !important;
    max-height: 2px !important;
    width: 100%;
    display: block;
    position: absolute;
    top: 20px;
    background: rgba(255, 255, 255, 0.1392157) !important;
}



.side-8zPYf6 .item-PXvHYJ[style*="color: rgb(240, 71, 71);"],
#bd-settings-sidebar {
    /*padding-top: 25%;*/
    margin-top: 20px;
    border-top: 2px solid rgba(255, 255, 255, 0.1392157);
}

/*.side-8zPYf6 .item-PXvHYJ[style*="color: rgb(240, 71, 71);"] {*/
/*    flex: 0 1 auto;*/
/*    padding: 25% 0;*/
/*    line-height: 29px;*/
/*}*/

/*.side-8zPYf6 .item-PXvHYJ[style*="color: rgb(240, 71, 71);"]:before {*/
/*    transform: rotate(180deg)translate(0,-30px) !important;*/
/*}*/
.side-8zPYf6 .item-PXvHYJ[style*="color: rgb(240, 71, 71);"] {
    padding-top: 20px !important;
    flex: none !important;
    height: 32px;
    min-height: 32px;
    overflow: visible;
}

.side-8zPYf6 .item-PXvHYJ[style*="color: rgb(240, 71, 71);"]:before {
    transform: rotate(180deg)translate(0,-30px) !important;
}
.ui-standard-sidebar-view .content-column {
    max-width: unset;
}

.header-2RyJ0Y,
.ui-tab-bar-header {
    padding-top: 20px !important;
    border-top: 2px solid rgba(255, 255, 255, 0.1392157);
    
}

.badge {
    background-color: #05a091;
}

.channels-Ie2l6A .scrollerWrap-2lJEkd, .channels-Ie2l6A .flexChild-faoVW3 {
    background: var(--lvl1) !important;
}

.appMount-3VJmYg.bda-dark.bd-detached-editor .app-19_DXt.platform-win .app.flex-vertical.theme-dark .layers-3iHuyZ.flex-vertical.flex-spacer .layer-3QrUeG .flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.container-2lgZY8.spacer-29U_x8 .flex-1xMQg5.flex-1O1GKY.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.base-3dtUhz .flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.spacer-29U_x8 .chat.flex-vertical.flex-spacer.private .titleWrapper-1l0xT9.theme-dark .flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignCenter-1dQNNs.noWrap-3jynv6.titleCall-_b9o8P {
    background: var(--lvl1) !important;
}

.private-channels .scrollerWrap-2lJEkd::before {
    content: initial  !important;
}

.inner-btChU7 .channel-SEolQq {
    position: relative;
}
.inner-btChU7 .channel-SEolQq:hover {
    transition: all ease 3s;
    white-space: normal;
}

.friends-row {
    margin: 3px !important;
}

.container-1UB9sr:hover {
    background: var(--accent-color-dark);
}

.container-2Thooq {
    height: 75px;
    padding-right: 0;
    overflow: hidden;
}

.container-1UB9sr:hover > .flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6 {
    right: 0 !important;
}

.container-1UB9sr {
    overflow: hidden;
}

.comment:before {
    border-color: 
        transparent
        #13161a
        transparent 
        transparent;
}

.chat form {
    height: 45px;
}

.textArea-2Spzkt {
    padding-left: 20px !important;
}

.inner-zqa7da {
    height: 100%;
}

.container-2Thooq {
    height: 45px;
}

.container-2Thooq .horizontal-1ae9ci > .button-2b6mh {
    position: absolute;
    bottom: 0;
    height: 45px;
    width: 25px;
    opacity: 1;
}

.friends-row {
    margin: 3px !important;
}

.container-1UB9sr:hover .flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6 {
    /* display: flex !important; */
    /* padding: 0; */
    /* background-color: var(--accent-color); */
}

.container-1UB9sr:hover {
    background: var(--accent-color-dark);
}

.container-1UB9sr:hover > * {
    /* background: var(--black3); */
}


.container-2Thooq > :last-child {
    display: block;
    /*     background-color: deeppink; */
    transition: right 500ms ease;
    position: absolute;
    right: -75px;
    height: 45px;
}

.container-2Thooq:hover > :last-child {
    right: -0 !important;
}


.container-2Thooq * {
    box-sizing: border-box;
}

.container-2Thooq > :last-child > div > button[style*="/assets/4bc527c257233fc69b94342d77bcb9ee.svg"] {
    background-image: url("/assets/4bc527c257233fc69b94342d77bcb9ee.svg") !important;
}

.container-2Thooq > :last-child > div > button[style*="/assets/4bc527c257233fc69b94342d77bcb9ee.svg"]::before {
    content: "";
    display: block;
    height: 4px;
    background: linear-gradient(to top, var(--white10) 0%,var(--white10) 50%,var(--lvl3) 51%,var(--lvl3) 100%);
    width: 18.5px;
    position: absolute;
    transform: translate(7px,15.5px)rotate(45deg)translate(10px,-2px)scale(0,1);
    top: 0;
    left: 0;
    animation: strike-out 300ms cubic-bezier(0,0,0,1);
}

.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6 {
    /* display: none; */
}

.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.videoTop-eOkSPq {
    display: none;
}

.horizontal-1ae9ci>.flex-1xMQg5 {
    margin-left: 0;
}

.container-2Thooq:hover {
    background: var(--accent-color-dark);
    right: 0;
}

 .container-2Thooq .horizontal-1ae9ci div:hover {
     opacity: 1;
     background-color: var(--black7);
 }
 .container-2Thooq .horizontal-1ae9ci div {
     opacity: 1;
     background-color: var(--black4);
 }

 .container-2Thooq .horizontal-1ae9ci div button {
     height: 100%;
 }
 .container-2Thooq .horizontal-1ae9ci div button:before{
    top: 7px !important;
    left: -4px !important;
 }
 
 .channels-Ie2l6A.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr {
     overflow: hidden;
 }
 
 .container-1UB9sr .horizontal-1ae9ci .button-2KyEfG:after, .container-2Thooq .horizontal-1ae9ci .button-2b6hmh:after {
    width: 50%;
    height: 75%;
    background: var(--white10);
    content: "";
    display: block;
    /* border-radius: 0; */
    opacity: 0;
    position: absolute;
    /* left: calc(50%); */
    /* top: calc(50%); */
    -ms-transform: translate(-50%,-50%);
    transform: scale(1) translate(-50%,-50%);
    transition: 300ms ease;
    pointer-events: none;
}

.private-channels .channel a {
    margin: 0 !important;   
    border-radius: 0;
}

#friends .friends-table .friends-row {
    min-width: 100px;
    width: 30% !important;
}

#friends .friends-table .friends-row .friends-column-name .discord-tag {
    display: block;
    overflow: visible;
    position: absolute;
    top: 25px;
    /* word-wrap: break-word; */
    left: 125px;
    right: 0;
    width: auto;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    top: 50%;
    transform: translateY(-100%);
}

#friends .friends-table .friends-row .friends-column-name .discord-tag .username {
    clear: left;
    float: left;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.channelTextArea-1LDbYG .inner-zqa7da>.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6 {
    width: 40px;
}

.theme-dark .emojiButton-2wRZts {
    width: 40px;
}
 
.channelTextArea-1LDbYG .inner-zqa7da>.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6~.textArea-2Spzkt {
    height: 25px;
    padding: 10px 50px !important;
    line-height: 25px;
}

.container-2Thooq .status, .account .status {
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    height: calc(100% + 2 * var(--rs-spacing) + 2 * var(--rs-width)) !important;
    width: calc(100% + 2 * var(--rs-spacing) + 2 * var(--rs-width)) !important;
}

.container-2Thooq .horizontal-1ae9ci div {
    height: 23px;
    width: 32px;
    border-radius: 0;
}

.container-2Thooq .horizontal-1ae9ci div:last-of-type {
    height: 45px;
}

.accountDetails-3k9g4n .username {    
    width: 100% !important;
    max-width: 100% !important;
}

.buttonDisconnect-3W_SJc,
.buttonInfo-3nkbOt {
    position: absolute;
    left: 0;
    width: 32px;
    height: 23px;
    opacity: 1 !important;
}

.container-1UB9sr:hover > div:last-of-type  {
    right: 0px !important;
}

.buttonDisconnect-3W_SJc {
    top: 50%;
}

.buttonInfo-3nkbOt {
    top: 0;
}

.container-1UB9sr > div:last-of-type {
    height: 48px;
    position: absolute;
    right: -32px;
    opacity: 1;
    background-color: var(--black4);
    width: 32px;
    transition: right 500ms ease;
}
.chat .avatar-large::after {
    opacity: 0;
    transition: all 300ms ease;
}
.chat .avatar-large:hover::after {
    content: " ";
    background: var(--black4);
    border-radius: 50%;
    display: block;
    width: 100%;
    padding-top: 100%;
    opacity: 1;
    animation-fill-mode: forwards;
    visibility: initial;
}

.chat .avatar-large:hover {
    opacity: 1;
}

.container-2Thooq .horizontal-1ae9ci div:last-of-type {
    position: absolute;
    top: 0;
    right: 100%;
}

.guilds-wrapper .guilds>.guild .guild-inner a {
    box-sizing: content-box;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    border: 3px;
    border-radius: 50%!important;
    overflow: hidden;
    
}

.guilds-wrapper .guilds>.guild .guild-inner {
    box-sizing: border-box;
    background: transparent!important;
    border-radius: 0%!important;
    opacity: 1;
    transition: all 100ms ease;
    height: 60px;
    width: 60px;
    margin: 0 auto;
    padding-top: 5px;
}

.guilds-wrapper .guilds .guild .guild-inner:hover {
    background-color: var(--accent-color)!important;
    opacity: 1;
}

.button-38aScr:first-of-type {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.button-38aScr:first-of-type {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.contents-18-Yxp > div {
    background-image: none;
}

.button-38aScr:hover {
    transform: translate(0, -1px) !important;
    box-shadow: 0 6px 15px rgba(0, 0, 0, .2);
}

.private-channels .search-bar input:before {
    
}

/* .discord-tag.nameTag-m8r81H {
    left: 25px !important;
    top: 25px !important;
    width: 83px !important;
    text-align: center;
} */

#friends .friends-table .friends-row .discord-tag .discriminator {
    position: absolute;
    left: 0px;
    bottom: -4px;
    width: 83px;
    text-align: center;
}
/* 
.discord-tag.nameTag-m8r81H:hover {
    width: auto !important;
    left: calc(-100% + 85px + 25px) !important;
}

.discord-tag.nameTag-m8r81H .username {
    position: relative !important;
    overflow: show !important;
    text-overflow: show !important;
    width: auto !important;
    min-width: 100% !important;
    text-align: center;
} */

.discord-tag.nameTag-m8r81H {
    left: 25px !important;
    top: 25px !important;
    width: 83px !important;
    text-align: center;
}

.discord-tag.nameTag-m8r81H .username {
    position: relative;
    left: 0;
    min-width: 83px !important;
    transition: left 500ms ease, color 300ms ease !important;
}

avatar-small:hover+.discord-tag.nameTag-m8r81H:hover .username,
.discord-tag.nameTag-m8r81H:hover .username {
    left: calc(83px - 100%);
}
    

#friends .friends-table .friends-row .friends-column-name .discord-tag {
    left: -105px !important;
    height: 120px;
    top: 0 !important;
    transform: none;
    position: relative;
    width: auto !important;
}
#friends .friends-table .friends-row .friends-column-name .avatar-small {
    top: 6px !important;
    left: -11px;
}
#friends .friends-table .friends-row .friends-column-name {
    width: 83px !important;
    overflow: hidden;
    left: 25px !important;
}
#friends .friends-table .friends-row .friends-column-name>* {
    left: -11px !important;
}

.friends-row > * {
  z-index: 2;
}

#app-mount #friends .friends-table .friends-row .friends-column-actions {
  right: -125px !important;
  opacity: 1 !important;
  transition: all 800ms cubic-bezier(.33, .01, 0, 1) !important;
  
    background: rgba(0, 0, 0, 0.30);
    border-radius: 20px;
    padding-left: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#app-mount #friends .friends-table .friends-row:hover .friends-column-actions {
    right: -5px !important;
  opacity: 1 !important;
}

.friends-row .discriminator {
  color: rgba(255, 255, 255, 0.6)!important;
}
.friends-row:hover .discriminator {
  color: rgba(255, 255, 255, 0.9)!important;
}

.friends-row:hover .username{
  color: white !important;
}

.friends-row .friends-column-status {
  z-index: 1;
}


#friends .friends-table .friends-row:hover .friends-column-actions {
}



.channel.btn-friends:hover,
.guild.active.guild .guild-inner:hover {
    background-color: var(--accent-color) !important;
    color: #FFFFFF
    opacity: 1;
}
.guild.active.guild .guild-inner:hover * {
  background-color: transparent;
}

.friends-icon {
    margin-top: -5px;
    /* height: 48px !important; */
    /* width: 48px !important; */
    margin-top: -2px!important;
    color: #b0b2b5 !important;
    /* opacity: 1; */
    opacity: 0.6  !important;
    color: #b0b2b5  !important;
}

/* .discord-tag.nameTag-m8r81H {
    left: 25px !important;
    top: 25px !important;
    width: 83px !important;
    text-align: center;
} */

#friends .friends-table .friends-row .discord-tag .discriminator {
    position: absolute;
    left: 0px;
    bottom: -4px;
    width: 83px;
    text-align: center;
}
/* 
.discord-tag.nameTag-m8r81H:hover {
    width: auto !important;
    left: calc(-100% + 85px + 25px) !important;
}

.discord-tag.nameTag-m8r81H .username {
    position: relative !important;
    overflow: show !important;
    text-overflow: show !important;
    width: auto !important;
    min-width: 100% !important;
    text-align: center;
} */

.discord-tag.nameTag-m8r81H {
    left: 25px !important;
    top: 25px !important;
    width: 83px !important;
    text-align: center;
}

.discord-tag.nameTag-m8r81H .username {
    position: relative;
    left: 0;
    min-width: 83px !important;
    transition: left 500ms ease, color 300ms ease !important;
}

avatar-small:hover+.discord-tag.nameTag-m8r81H:hover .username,
.discord-tag.nameTag-m8r81H:hover .username {
    left: calc(83px - 100%);
}
    

#friends .friends-table .friends-row .friends-column-name .discord-tag {
    left: -105px !important;
    height: 120px;
    top: 0 !important;
    transform: none;
    position: relative;
    width: auto !important;
}
#friends .friends-table .friends-row .friends-column-name .avatar-small {
    top: 6px !important;
    left: -11px;
}
#friends .friends-table .friends-row .friends-column-name {
    width: 83px !important;
    overflow: hidden;
    left: 25px !important;
}
#friends .friends-table .friends-row .friends-column-name>* {
    left: -11px !important;
}


.friends-column-guilds > a {
    /* flex: 1 1 auto; */
    /* justify-content: center; */
    /* align-items: center; */
    /* align-content: center; */
    /* flex-wrap: wrap; */
}


#friends .friends-table .friends-row .friends-column-name>* {
    left: -11px !important;  }
}

.friends-column.friends-column-guilds {
    flex: 1 1 auto; */
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
}

#friends .friends-table .friends-table-body .friends-row .friends-column-guilds {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 120px;
    width: 60px;
    align-items: baseline;
    align-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly;
    top: 0;
    left: 115px;
}

.guild-inner {}

div#RANbutton-frame {
    width: 100% !important;
}

#RANbutton-frame > .guild-inner {
    border-radius: 0 !important;
}

.guilds.scroller.RAN-added {
    padding-top: 70px !important;
}

.guild.active {}

.guilds.scroller.RAN-added .guild.active {
    position: fixed !important;
    background: #282e33;
    opacity: 1;
    top: 22px;
    z-index: 100;
}

.guilds-wrapper .guilds .friends-online {
    position: fixed;
    position: fixed !important;
    /* background: #282e33; */
    opacity: 1;
    top: 18px;
    z-index: 100;
    pointer-events: none;
    color: #b0b2b5;
}

.guild.active:hover~.friends-online {
    color: #ffffff;
    opacity: 1;
}

#friends .friends-table .friends-row:hover .friends-column-status .status:before,
.channel.private .status:before {
    content: " ";
    display: block;
    position: absolute;
    top: -10px;
    left:-10px;
    bottom:-10px;
    right:-500px;
    width: auto;
    height: auto;
    z-index: -1 !important;
    opacity: .1;
}

#friends .friends-table .friends-row:hover .friends-column-status .status-Idle:before,
#friends .friends-table .friends-row:hover .friends-column-status .status-idle:before,
.channel.private .status-Idle:before,
.channel.private .status-idle:before {
  background-color: var(--rs-idle-color) !important;
}

#friends .friends-table .friends-row:hover .friends-column-status .status-dnd:before,
#friends .friends-table .friends-row:hover .friends-column-status .status-DND:before,
.channel.private .status-dnd:before,
.channel.private .status-DND:before {
  background-color:  var(--rs-dnd-color) !important;
}

#friends .friends-table .friends-row:hover .friends-column-status .status-streaming:before,
#friends .friends-table .friends-row:hover .friends-column-status .status-Streaming:before,
.channel.private .status-streaming:before,
.channel.private .status-Streaming:before {
  background-color:  var(--rs-streaming-color) !important;
  animation: streaming-flash 1.5s linear infinite !important;
}

#friends .friends-table .friends-row:hover .friends-column-status .status-online:before,
#friends .friends-table .friends-row:hover .friends-column-status .status-Online:before,
.channel.private .status-online:before,
.channel.private .status-Online:before {
  background-color:  var(--rs-online-color) !important;
}

#friends .friends-table .friends-row:hover .friends-column-status .status-invisible:before,
#friends .friends-table .friends-row:hover .friends-column-status .status-Invisible:before,
.channel.private .status-invisible:before,
.channel.private .status-Invisible:before {
  background-color:  var(--rs-invisible-color) !important;
}

#friends .friends-table .friends-row:hover .friends-column-status .status-offline:before,
#friends .friends-table .friends-row:hover .friends-column-status .status-Offline:before,
.channel.private .status-offline:before,
.channel.private .status-Offline:before {
  background-color:  var(--rs-offline-color) !important;
  opacity: .3;
}

.channel.private:hover .status:before {
  opacity: .3;
}
.channel.private:hover .status-offline:before,
.channel.private:hover .status-Offline:before {
  opacity: .6;
}
.private-channels .channel.selected a,
.channel.private a:active {
  background: transparent;
}

.channel.private.selected .status:before {
  opacity: .6 !important;
}
.channel.private:hover .status-offline:before,
.channel.private:hover .status-Offline:before {
  opacity: .8;
}

.channel.private.selected .avatar-small:hover,
.private-channels .channel .avatar-small:hover {
  z-index: unset;
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.47);
}

.private-channels .channel.selected .status {
  background-color: rgb(0, 0, 0);
  z-index: -1;
}

.avatar-large.stop-animation:hover {filter: contrast(120%);box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.47);}

.scroller-2FKFPG>div:first-child {
  display: none;
}

.channel.btn-friends {
  height: 48px;
  background-color: #3a4047;
  padding: 4px 0;
  box-sizing: border-box;
  color: #b0b2b5;
}
.friends-row > * {
  z-index: 2;
}

#app-mount #friends .friends-table .friends-row .friends-column-actions {
  right: -45px !important;
  opacity: 1 !important;
  transition: right;
  background: rgba(0, 0, 0, 0.75);
  padding: 0 10px;
  bottom: 0;
  top: 0;
  width: 23px;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: space-around;
}

#app-mount #friends .friends-table .friends-row:hover .friends-column-actions {
    right: -5px !important;

.friends-row .discriminator {
  color: rgba(255, 255, 255, 0.6)!important;
}
.friends-row:hover .discriminator {
  color: rgba(255, 255, 255, 0.9)!important;
}

.friends-row:hover .username{
  color: white !important;
}

.friends-row .friends-column-status {
  z-index: 1;
}


#friends .friends-table .friends-row:hover .friends-column-actions {
}



.channel.btn-friends:hover,
.guild.active.guild .guild-inner:hover {
    background-color: var(--accent-color) !important;
    color: #FFFFFF
    opacity: 1;
}
.guild.active.guild .guild-inner:hover * {
  background-color: transparent;
}

.friends-icon {
    margin-top: -5px;
    /* height: 48px !important; */
    /* width: 48px !important; */
    margin-top: -2px!important;
    color: #b0b2b5 !important;
    /* opacity: 1; */
    opacity: 0.6  !important;
    color: #b0b2b5  !important;
}

/* .discord-tag.nameTag-m8r81H {
    left: 25px !important;
    top: 25px !important;
    width: 83px !important;
    text-align: center;
} */

#friends .friends-table .friends-row .discord-tag .discriminator {
    position: absolute;
    left: 0px;
    bottom: -4px;
    width: 83px;
    text-align: center;
}
/* 
.discord-tag.nameTag-m8r81H:hover {
    width: auto !important;
    left: calc(-100% + 85px + 25px) !important;
}

.discord-tag.nameTag-m8r81H .username {
    position: relative !important;
    overflow: show !important;
    text-overflow: show !important;
    width: auto !important;
    min-width: 100% !important;
    text-align: center;
} */

.discord-tag.nameTag-m8r81H {
    left: 25px !important;
    top: 25px !important;
    width: 83px !important;
    text-align: center;
}

.discord-tag.nameTag-m8r81H .username {
    position: relative;
    left: 0;
    min-width: 83px !important;
    transition: left 500ms ease, color 300ms ease !important;
}

avatar-small:hover+.discord-tag.nameTag-m8r81H:hover .username,
.discord-tag.nameTag-m8r81H:hover .username {
    left: calc(83px - 100%);
}
    

#friends .friends-table .friends-row .friends-column-name .discord-tag {
    left: -105px !important;
    height: 120px;
    top: 0 !important;
    transform: none;
    position: relative;
    width: auto !important;
}
#friends .friends-table .friends-row .friends-column-name .avatar-small {
    top: 6px !important;
    left: -11px;
}
#friends .friends-table .friends-row .friends-column-name {
    width: 83px !important;
    overflow: hidden;
    left: 25px !important;
}
#friends .friends-table .friends-row .friends-column-name>* {
    left: -11px !important;
}


.friends-column-guilds > a {
    /* flex: 1 1 auto; */
    /* justify-content: center; */
    /* align-items: center; */
    /* align-content: center; */
    /* flex-wrap: wrap; */
}


#friends .friends-table .friends-row .friends-column-name>* {
    left: -11px !important;  }
}

.friends-column.friends-column-guilds {
    flex: 1 1 auto; */
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
}

#friends .friends-table .friends-table-body .friends-row .friends-column-guilds {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 120px;
    width: 60px;
    align-items: baseline;
    align-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly;
    top: 0;
    left: 115px;
}

.guild-inner {}

div#RANbutton-frame {
    width: 100% !important;
}

#RANbutton-frame > .guild-inner {
    border-radius: 0 !important;
}

.guilds.scroller.RAN-added {
    padding-top: 70px !important;
}

.guild.active {}

.guilds.scroller.RAN-added .guild.active {
    position: fixed !important;
    background: #282e33;
    opacity: 1;
    top: 22px;
    z-index: 100;
}

.guilds-wrapper .guilds .friends-online {
    position: fixed;
    position: fixed !important;
    /* background: #282e33; */
    opacity: 1;
    top: 18px;
    z-index: 100;
    pointer-events: none;
    color: #b0b2b5;
}

.guild.active:hover~.friends-online {
    color: #ffffff;
    opacity: 1;
}

#friends .friends-table .friends-row:hover .friends-column-status .status:before,
.channel.private .status:before {
    content: " ";
    display: block;
    position: absolute;
    top: -10px;
    left:-10px;
    bottom:-10px;
    right:-500px;
    width: auto;
    height: auto;
    z-index: -1 !important;
    opacity: .1;
}

#friends .friends-table .friends-row:hover .friends-column-status .status-Idle:before,
#friends .friends-table .friends-row:hover .friends-column-status .status-idle:before,
.channel.private .status-Idle:before,
.channel.private .status-idle:before {
  background-color: var(--rs-idle-color) !important;
}

#friends .friends-table .friends-row:hover .friends-column-status .status-dnd:before,
#friends .friends-table .friends-row:hover .friends-column-status .status-DND:before,
.channel.private .status-dnd:before,
.channel.private .status-DND:before {
  background-color:  var(--rs-dnd-color) !important;
}

#friends .friends-table .friends-row:hover .friends-column-status .status-streaming:before,
#friends .friends-table .friends-row:hover .friends-column-status .status-Streaming:before,
.channel.private .status-streaming:before,
.channel.private .status-Streaming:before {
  background-color:  var(--rs-streaming-color) !important;
  animation: streaming-flash 1.5s linear infinite !important;
}

#friends .friends-table .friends-row:hover .friends-column-status .status-online:before,
#friends .friends-table .friends-row:hover .friends-column-status .status-Online:before,
.channel.private .status-online:before,
.channel.private .status-Online:before {
  background-color:  var(--rs-online-color) !important;
}

#friends .friends-table .friends-row:hover .friends-column-status .status-invisible:before,
#friends .friends-table .friends-row:hover .friends-column-status .status-Invisible:before,
.channel.private .status-invisible:before,
.channel.private .status-Invisible:before {
  background-color:  var(--rs-invisible-color) !important;
}

#friends .friends-table .friends-row:hover .friends-column-status .status-offline:before,
#friends .friends-table .friends-row:hover .friends-column-status .status-Offline:before,
.channel.private .status-offline:before,
.channel.private .status-Offline:before {
  background-color:  var(--rs-offline-color) !important;
  opacity: .3;
}

.channel.private:hover .status:before {
  opacity: .3;
}
.channel.private:hover .status-offline:before,
.channel.private:hover .status-Offline:before {
  opacity: .6;
}
.private-channels .channel.selected a,
.channel.private a:active {
  background: transparent;
}

.channel.private.selected .status:before {
  opacity: .6 !important;
}
.channel.private:hover .status-offline:before,
.channel.private:hover .status-Offline:before {
  opacity: .8;
}

.channel.private.selected .avatar-small:hover,
.private-channels .channel .avatar-small:hover {
  z-index: unset;
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.47);
}

.private-channels .channel.selected .status {
  background-color: rgb(0, 0, 0);
  z-index: -1;
}

.avatar-large.stop-animation:hover {filter: contrast(120%);box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.47);}

.scroller-2FKFPG>div:first-child {
  display: none;
}

.channel.btn-friends {
  height: 48px;
  background-color: #3a4047;
  padding: 4px 0;
  box-sizing: border-box;
  color: #b0b2b5;
}

#friends .friends-table .friends-row .friends-column-status .status

.friends-action.friends-action-voice-call {}

#app-mount #friends .friends-table .friends-row:hover .friends-column-actions > * {
    margin: 0;
    border-radius: 0;
}

.friends-column.friends-column-name {
    width: 83px;
    min-width: 83px;
}


.friends-row > * {
  z-index: 2;
}

#app-mount #friends .friends-table .friends-row .friends-column-actions {
  right: -45px !important;
  opacity: 1 !important;
  transition: right;
  background: rgba(0, 0, 0, 0.75);
  padding: 0 10px;
  bottom: 0;
  top: 0;
  width: 23px;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: space-around;
}

#app-mount #friends .friends-table .friends-row:hover .friends-column-actions {
    right: -5px !important;

.friends-row .discriminator {
  color: rgba(255, 255, 255, 0.6)!important;
}
.friends-row:hover .discriminator {
  color: rgba(255, 255, 255, 0.9)!important;
}

.friends-row .friends-column-status {
  z-index: 1;
}


#friends .friends-table .friends-row:hover .friends-column-actions {
}



.channel.btn-friends:hover,
.guild.active.guild .guild-inner:hover {
    background-color: var(--accent-color) !important;
    color: #FFFFFF
    opacity: 1;
}
.guild.active.guild .guild-inner:hover * {
  background-color: transparent;
}

.friends-icon {
    margin-top: -5px;
    /* height: 48px !important; */
    /* width: 48px !important; */
    margin-top: -2px!important;
    color: #b0b2b5 !important;
    /* opacity: 1; */
    opacity: 0.6  !important;
    color: #b0b2b5  !important;
}

/* .discord-tag.nameTag-m8r81H {
    left: 25px !important;
    top: 25px !important;
    width: 83px !important;
    text-align: center;
} */

#friends .friends-table .friends-row .discord-tag .discriminator {
    position: absolute;
    left: 0px;
    bottom: -4px;
    width: 83px;
    text-align: center;
}
/* 
.discord-tag.nameTag-m8r81H:hover {
    width: auto !important;
    left: calc(-100% + 85px + 25px) !important;
}

.discord-tag.nameTag-m8r81H .username {
    position: relative !important;
    overflow: show !important;
    text-overflow: show !important;
    width: auto !important;
    min-width: 100% !important;
    text-align: center;
} */

.discord-tag.nameTag-m8r81H {
    left: 25px !important;
    top: 25px !important;
    width: 83px !important;
    text-align: center;
}

.discord-tag.nameTag-m8r81H .username {
    position: relative;
    left: 0;
    min-width: 83px !important;
    transition: left 500ms ease, color 300ms ease !important;
}

avatar-small:hover+.discord-tag.nameTag-m8r81H:hover .username,
.discord-tag.nameTag-m8r81H:hover .username {
    left: calc(83px - 100%);
}
    

#friends .friends-table .friends-row .friends-column-name .discord-tag {
    left: -105px !important;
    height: 120px;
    top: 0 !important;
    transform: none;
    position: relative;
    width: auto !important;
}
#friends .friends-table .friends-row .friends-column-name .avatar-small {
    top: 6px !important;
    left: -11px;
}
#friends .friends-table .friends-row .friends-column-name {
    width: 83px !important;
    overflow: hidden;
    left: 25px !important;
}
#friends .friends-table .friends-row .friends-column-name>* {
    left: -11px !important;
}


.friends-column-guilds > a {
    /* flex: 1 1 auto; */
    /* justify-content: center; */
    /* align-items: center; */
    /* align-content: center; */
    /* flex-wrap: wrap; */
}


#friends .friends-table .friends-row .friends-column-name>* {
    left: -11px !important;  }
}

.friends-column.friends-column-guilds {
    flex: 1 1 auto; */
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
}

#friends .friends-table .friends-table-body .friends-row .friends-column-guilds {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 120px;
    width: 60px;
    align-items: baseline;
    align-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly;
    top: 0;
    left: 115px;
}

.guild-inner {}

div#RANbutton-frame {
    width: 100% !important;
}

#RANbutton-frame > .guild-inner {
    border-radius: 0 !important;
}

.guilds.scroller.RAN-added {
    padding-top: 70px !important;
}

.guild.active {}

.guilds.scroller.RAN-added .guild.active {
    position: fixed !important;
    background: #282e33;
    opacity: 1;
    top: 22px;
    z-index: 100;
}

.guilds-wrapper .guilds .friends-online {
    position: fixed;
    position: fixed !important;
    /* background: #282e33; */
    opacity: 1;
    top: 18px;
    z-index: 100;
    pointer-events: none;
    color: #b0b2b5;
}

.guild.active:hover~.friends-online {
    color: #ffffff;
    opacity: 1;
}

#friends .friends-table .friends-row:hover .friends-column-status .status:before,
.channel.private .status:before {
    content: " ";
    display: block;
    position: absolute;
    top: -10px;
    left:-10px;
    bottom:-10px;
    right:-500px;
    width: auto;
    height: auto;
    z-index: -1 !important;
    opacity: .1;
}

#friends .friends-table .friends-row:hover .friends-column-status .status-Idle:before,
#friends .friends-table .friends-row:hover .friends-column-status .status-idle:before,
.channel.private .status-Idle:before,
.channel.private .status-idle:before {
  background-color: var(--rs-idle-color) !important;
}

#friends .friends-table .friends-row:hover .friends-column-status .status-dnd:before,
#friends .friends-table .friends-row:hover .friends-column-status .status-DND:before,
.channel.private .status-dnd:before,
.channel.private .status-DND:before {
  background-color:  var(--rs-dnd-color) !important;
}

#friends .friends-table .friends-row:hover .friends-column-status .status-streaming:before,
#friends .friends-table .friends-row:hover .friends-column-status .status-Streaming:before,
.channel.private .status-streaming:before,
.channel.private .status-Streaming:before {
  background-color:  var(--rs-streaming-color) !important;
  animation: streaming-flash 1.5s linear infinite !important;
}

#friends .friends-table .friends-row:hover .friends-column-status .status-online:before,
#friends .friends-table .friends-row:hover .friends-column-status .status-Online:before,
.channel.private .status-online:before,
.channel.private .status-Online:before {
  background-color:  var(--rs-online-color) !important;
}

#friends .friends-table .friends-row:hover .friends-column-status .status-invisible:before,
#friends .friends-table .friends-row:hover .friends-column-status .status-Invisible:before,
.channel.private .status-invisible:before,
.channel.private .status-Invisible:before {
  background-color:  var(--rs-invisible-color) !important;
}

#friends .friends-table .friends-row:hover .friends-column-status .status-offline:before,
#friends .friends-table .friends-row:hover .friends-column-status .status-Offline:before,
.channel.private .status-offline:before,
.channel.private .status-Offline:before {
  background-color:  var(--rs-offline-color) !important;
  opacity: .3;
}

.channel.private:hover .status:before {
  opacity: .3;
}
.channel.private:hover .status-offline:before,
.channel.private:hover .status-Offline:before {
  opacity: .6;
}
.private-channels .channel.selected a,
.channel.private a:active {
  background: transparent;
}

.channel.private.selected .status:before {
  opacity: .6 !important;
}
.channel.private:hover .status-offline:before,
.channel.private:hover .status-Offline:before {
  opacity: .8;
}

.channel.private.selected .avatar-small:hover,
.private-channels .channel .avatar-small:hover {
  z-index: unset;
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.47);
}

.private-channels .channel.selected .status {
  background-color: rgb(0, 0, 0);
  z-index: -1;
}

.avatar-large.stop-animation:hover {filter: contrast(120%);box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.47);}

.scroller-2FKFPG>div:first-child {
  display: none;
}

.channel.btn-friends {
  height: 48px;
  background-color: #3a4047;
  padding: 4px 0;
  box-sizing: border-box;
  color: #b0b2b5;
}

#friends .friends-table .friends-row .friends-column-status .status

.friends-action.friends-action-voice-call {}

#app-mount #friends .friends-table .friends-row:hover .friends-column-actions > * {
    margin: 0;
    border-radius: 0;
}

.friends-column.friends-column-name {
    width: 83px;
    min-width: 83px;
    max-width: 83px;
    height: 100%;
    left: 26px;
    overflow: hidden;
}

#friends .friends-table .friends-row{
    flex-basis: 150px;
    justify-content: space-around !important;
    align-items: baseline !important;
    align-content: flex-start;
    min-width: 150px;
    max-width: 150px;
}

.avatar-small.stop-animation {
    left: -11px !important;
    top: 5px !important;
}


#friends .friends-table .friends-row .friends-column-name .discord-tag {
    position: relative !important;
    height: 100%;
    /* width: 83px; */
    min-width: 83px;
    left: -105px;
    top: 120px;
    text-align: center;
}

.theme-dark #friends .friends-table .friends-row .friends-column-name {
    position: relative !important;
}

#friends .friends-table .friends-row .friends-column-name .discord-tag .discriminator {
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    text-align: center;
}
